In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import itertools
import statsmodels.api as sm
from sklearn.externals import joblib

C:\Users\akhil_lvire0b\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [6]:
import mysql.connector
conn = mysql.connector.connect (user='dm_team', password='dm_team123#',
                               host='18.136.56.185',buffered=True)
cursor = conn.cursor()
databases = ("show databases")
cursor.execute(databases)
for (databases) in cursor:
     print( databases[0])

information_schema
project_itsm

In [3]:
from sqlalchemy import create_engine
import pandas as pd
db_host = '18.136.56.185:3306'
username = 'dm_team'
user_pass = 'dm_team123#'
db_name = 'project_itsm'


conn = create_engine('mysql+pymysql://'+username+':'+user_pass+'@'+db_host+'/'+db_name)
conn.table_names()

['dataset_list']

In [4]:
query = "select * from dataset_list"
data = pd.read_sql(query,conn)
print(data.shape)
data

(46606, 25)

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Status,Impact,Urgency,Priority,number_cnt,...,Reopen_Time,Resolved_Time,Close_Time,Handle_Time_hrs,Closure_Code,No_of_Related_Interactions,Related_Interaction,No_of_Related_Incidents,No_of_Related_Changes,Related_Change
0,SUB000508,subapplication,Web Based Application,WBS000162,IM0000004,Closed,4,4,4,0.601292279,...,,04-11-2013 13:50,04-11-2013 13:51,"3,87,16,91,111",Other,1,SD0000007,2,,
1,WBA000124,application,Web Based Application,WBS000088,IM0000005,Closed,3,3,3,0.415049969,...,02-12-2013 12:31,02-12-2013 12:36,02-12-2013 12:36,"4,35,47,86,389",Software,1,SD0000011,1,,
2,DTA000024,application,Desktop Application,WBS000092,IM0000006,Closed,NS,3,NA,0.517551335,...,,13-01-2014 15:12,13-01-2014 15:13,"4,84,31,19,444",No error - works as designed,1,SD0000017,,,
3,WBA000124,application,Web Based Application,WBS000088,IM0000011,Closed,4,4,4,0.642927218,...,,14-11-2013 09:31,14-11-2013 09:31,"4,32,18,33,333",Operator error,1,SD0000025,,,
4,WBA000124,application,Web Based Application,WBS000088,IM0000012,Closed,4,4,4,0.345258343,...,,08-11-2013 13:55,08-11-2013 13:55,"3,38,39,03,333",Other,1,SD0000029,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46601,SBA000464,application,Server Based Application,WBS000073,IM0047053,Closed,4,4,4,0.23189604,...,,31-03-2014 16:29,31-03-2014 16:29,"0,095",Other,1,SD0147021,,,
46602,SBA000461,application,Server Based Application,WBS000073,IM0047054,Closed,4,4,4,0.805153085,...,,31-03-2014 15:29,31-03-2014 15:29,"0,428333333",User error,1,SD0146967,,,
46603,LAP000019,computer,Laptop,WBS000091,IM0047055,Closed,5,5,5,0.917466294,...,,31-03-2014 15:32,31-03-2014 15:32,"0,071666667",Hardware,1,SD0146982,,,
46604,WBA000058,application,Web Based Application,WBS000073,IM0047056,Closed,4,4,4,0.701278158,...,,31-03-2014 15:42,31-03-2014 15:42,"0,116944444",Software,1,SD0146986,,,
46605,DCE000077,hardware,DataCenterEquipment,WBS000267,IM0047057,Closed,3,3,3,0.902319509,...,,31-03-2014 22:47,31-03-2014 22:47,"0,586388889",Hardware,1,SD0147088,,,

In [4]:
data.isnull().sum()

CI_Name                       0
CI_Cat                        0
CI_Subcat                     0
WBS                           0
Incident_ID                   0
Status                        0
Impact                        0
Urgency                       0
Priority                      0
number_cnt                    0
Category                      0
KB_number                     0
Alert_Status                  0
No_of_Reassignments           0
Open_Time                     0
Reopen_Time                   0
Resolved_Time                 0
Close_Time                    0
Handle_Time_hrs               0
Closure_Code                  0
No_of_Related_Interactions    0
Related_Interaction           0
No_of_Related_Incidents       0
No_of_Related_Changes         0
Related_Change                0
dtype: int64

In [5]:
data['Category'].value_counts()

incident                   37748
request for information     8846
complaint                     11
request for change             1
Name: Category, dtype: int64

In [5]:
#to replace space with nan
data = data.replace(r'^\s*$', np.NaN, regex=True)

In [7]:
data1.Alert_Status.value_counts()

NameError: name 'data1' is not defined

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46606 entries, 0 to 46605
Data columns (total 25 columns):
CI_Name                       46606 non-null object
CI_Cat                        46495 non-null object
CI_Subcat                     46495 non-null object
WBS                           46606 non-null object
Incident_ID                   46606 non-null object
Status                        46606 non-null object
Impact                        46606 non-null object
Urgency                       46606 non-null object
Priority                      46606 non-null object
number_cnt                    46606 non-null object
Category                      46606 non-null object
KB_number                     46606 non-null object
Alert_Status                  46606 non-null object
No_of_Reassignments           46605 non-null object
Open_Time                     46606 non-null object
Reopen_Time                   2284 non-null object
Resolved_Time                 44826 non-null object
Close_Time                    46606 non-null object
Handle_Time_hrs               46605 non-null object
Closure_Code                  46146 non-null object
No_of_Related_Interactions    46492 non-null object
Related_Interaction           46606 non-null object
No_of_Related_Incidents       1222 non-null object
No_of_Related_Changes         560 non-null object
Related_Change                560 non-null object
dtypes: object(25)
memory usage: 8.9+ MB

In [17]:
#to sort all collumns
df = data.apply(lambda x: x.sort_values(ascending=False).values)
df

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Status,Impact,Urgency,Priority,number_cnt,...,Reopen_Time,Resolved_Time,Close_Time,Handle_Time_hrs,Closure_Code,No_of_Related_Interactions,Related_Interaction,No_of_Related_Incidents,No_of_Related_Changes,Related_Change
0,ZOS000016,subapplication,zOS Systeem,WBS000339,IM0047057,Work in progress,NS,5 - Very Low,NA,7.75E-05,...,31-12-2013 14:06,31-12-2013 16:58,31-12-2013 16:58,"99,975",User manual not used,9,SD0147088,9,9,C00018549
1,ZOS000016,subapplication,zOS Systeem,WBS000339,IM0047056,Work in progress,NS,5,NA,6.34E-05,...,31-12-2013 11:52,31-12-2013 16:23,31-12-2013 16:23,"99,825",User manual not used,9,SD0147071,9,3,C00018471
2,ZOS000011,subapplication,zOS Server,WBS000337,IM0047055,Work in progress,NS,5,NA,5.31E-05,...,31-12-2013 11:38,31-12-2013 16:23,31-12-2013 16:23,"99,675",User manual not used,9,SD0147021,9,3,C00018435
3,ZOS000006,subapplication,zOS Server,WBS000337,IM0047054,Work in progress,NS,5,NA,4.65E-05,...,31-12-2013 11:32,31-12-2013 16:21,31-12-2013 16:21,"99,525",User manual not used,9,SD0147015,9,2,C00018421
4,ZOC000005,subapplication,zOS Server,WBS000337,IM0047053,Work in progress,NS,5,NA,3.60E-05,...,31-12-2013 11:08,31-12-2013 16:14,31-12-2013 16:15,"99,425",User manual not used,9,SD0146993,9,2,C00018403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46601,ADB000010,NaN,NaN,WBS000002,IM0000012,Closed,2,1,2,0.000159573,...,NaN,NaN,01-02-2014 20:20,0,NaN,NaN,#MULTIVALUE,NaN,NaN,NaN
46602,ADB000010,NaN,NaN,WBS000002,IM0000011,Closed,2,1,2,0.000149697,...,NaN,NaN,01-02-2014 19:32,0,NaN,NaN,#MULTIVALUE,NaN,NaN,NaN
46603,ADB000010,NaN,NaN,WBS000002,IM0000006,Closed,1,1,1,0.000146858,...,NaN,NaN,01-02-2014 06:53,0,NaN,NaN,#MULTIVALUE,NaN,NaN,NaN
46604,ADB000005,NaN,NaN,WBS000002,IM0000005,Closed,1,1,1,0.000144817,...,NaN,NaN,01-01-2014 18:21,0,NaN,NaN,#MULTIVALUE,NaN,NaN,NaN
46605,ACS000001,NaN,NaN,WBS000001,IM0000004,Closed,1,1,1,0.000126655,...,NaN,NaN,01-01-2014 15:34,NaN,NaN,NaN,#MULTIVALUE,NaN,NaN,NaN

In [6]:
#gather all incident managment problems intoone data set
data1 = data.loc[data.Category=='incident']

In [7]:
print( data1['Category'].value_counts())
print(data1['CI_Subcat'].value_counts())
print(data1['Urgency'].value_counts())
print(data1['Impact'].value_counts())
print(data1['Priority'].value_counts())
print(data1['No_of_Reassignments'].value_counts())
print(data1['WBS'].value_counts())
print(data1['CI_Cat'].value_counts())
print(data1['No_of_Related_Changes'].value_counts())

incident    37748
Name: Category, dtype: int64
Web Based Application              14650
Server Based Application           12574
Desktop Application                 3499
Laptop                              1905
Banking Device                       868
                                   ...
Iptelephony                            1
Application Server                     1
Windows Server in extern beheer        1
Protocol                               1
Neoview Server                         1
Name: CI_Subcat, Length: 63, dtype: int64
4    22092
5     8631
3     6331
2      688
1        6
Name: Urgency, dtype: int64
4     22107
5      8542
3      5076
NS     1335
2       685
1         3
Name: Impact, dtype: int64
4     22180
5      8377
3      5163
NA     1335
2       690
1         3
Name: Priority, dtype: int64
0     23064
1      6222
2      3503
3      1764
4      1099
5       612
6       435
7       286
8       184
9       134
10      101
11       78
13       46
12       41
15       34
14       31
17       23
16       17
18       12
21       10
22        9
19        8
20        7
25        7
26        4
23        4
33        3
30        2
32        2
24        2
27        1
42        1
36        1
46        1
Name: No_of_Reassignments, dtype: int64
WBS000073    13057
WBS000091     2431
WBS000263     1401
WBS000318     1097
WBS000152     1075
             ...
WBS000243        1
WBS000214        1
WBS000304        1
WBS000286        1
WBS000160        1
Name: WBS, Length: 262, dtype: int64
application             25370
subapplication           6788
computer                 3544
storage                   630
hardware                  384
software                  305
database                  213
displaydevice             163
officeelectronics         152
networkcomponents          95
applicationcomponent        5
Phone                       2
Name: CI_Cat, dtype: int64
1    508
2     20
3      2
9      1
Name: No_of_Related_Changes, dtype: int64

In [20]:
data1.shape

(37748, 25)

In [8]:
#drop reopen time
data1.drop(['Reopen_Time'], axis=1,inplace=True)

C:\Users\akhil_lvire0b\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [22]:
#data1.loc[(data1.Impact=='3') & (data1.Urgency=='3')]

In [85]:
data1.isnull().sum()

CI_Name                           0
CI_Cat                            0
CI_Subcat                         0
WBS                               0
Incident_ID                       0
Status                            0
Impact                            0
Urgency                           0
Priority                          0
number_cnt                        0
Category                          0
KB_number                         0
Alert_Status                      0
No_of_Reassignments               0
Open_Time                         0
Resolved_Time                  1653
Close_Time                        0
Handle_Time_hrs                   0
Closure_Code                    460
No_of_Related_Interactions        0
Related_Interaction               0
No_of_Related_Incidents       36596
No_of_Related_Changes         37217
Related_Change                37217
dtype: int64

In [9]:
data1.CI_Cat.mode()
data1.CI_Subcat.mode()
data1.No_of_Related_Interactions.mode()
data1.No_of_Related_Interactions.replace(np.nan,1 ,inplace=True)

C:\Users\akhil_lvire0b\Anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [10]:
data1.CI_Cat.replace(np.nan,'application',inplace=True)
data1.CI_Subcat.replace(np.nan,'Web Based Application',inplace=True)

In [11]:
#there are so many sub divisions in sub categry 
data1.CI_Subcat.replace('Desktop','Desktop Application',inplace=True)
data1.CI_Subcat.replace(['Application Server','Virtual Tape Server','ESX Server','zOS Server','Neoview Server','X86 Server',
                       'Unix Server','Oracle Server','Windows Server in extern beheer','Thin Client','NonStop Server',
                       'Number','Windows Server','Linux Server',np.nan,'SharePoint Farm','Lines'],
                       'Server Based Application',inplace=True)
data1.CI_Subcat.replace('RAC Service','Banking Device',inplace=True)
data1.CI_Subcat.replace(['Iptelephony','Protocol','Net Device','IPtelephony','ESX Cluster','Standard Application'],
                       'Web Based Application',inplace=True)
data1.CI_Subcat.replace(['VMWare','Security Software','zOS Systeem','Firewall','Database Software','VDI','Instance',
                       'MQ Queue Manager','Automation Software','Citrix','SAP','Encryption'],'System Software',inplace=True)
data1.CI_Subcat.replace(['UPS','Omgeving'],'Client Based Application',inplace=True)
data1.CI_Subcat.replace(['NonStop Storage','NonStop Harddisk','Tape Library','zOS Cluster','DataCenterEquipment',
                       'MigratieDummy'],'Database',inplace=True)
data1.CI_Subcat.replace(['Modem','Router'],'Network Component',inplace=True)
data1.CI_Subcat.replace('KVM Switches','Switch',inplace=True)

In [12]:
data1.CI_Subcat.replace(['Monitor','Controller','Printer','Scanner','Switch','Network Component','Keyboard'],'Hardware',inplace=True)

In [13]:
data1.CI_Cat.replace(['database'],'storage',inplace=True)
data1.CI_Cat.replace(['applicationcomponent'],'subapplication',inplace=True)
data1.CI_Cat.replace(['displaydevice','officeelectronics','Phone','networkcomponents'],'hardware',inplace=True)

In [14]:

data1.No_of_Related_Interactions.replace(np.nan,'1',inplace=True)

In [15]:
X = data1.loc[:,['CI_Cat','CI_Subcat','WBS','KB_number']]
y=data1.Priority

In [31]:
from sklearn.preprocessing import LabelEncoder , StandardScaler
enc = LabelEncoder()
X[['CI_Cat','CI_Subcat','WBS','KB_number']] = \
X[['CI_Cat','CI_Subcat','WBS','KB_number']].apply(enc.fit_transform)

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [20]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [21]:
from sklearn.preprocessing import LabelEncoder , StandardScaler

In [22]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

RANDOM FOREST

In [27]:
from sklearn.ensemble import RandomForestClassifier

In [78]:

model = RandomForestClassifier(n_estimators = 90, max_depth=40, max_features=3,criterion='gini',random_state=14)
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=40, max_features=3,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=90,
                       n_jobs=None, oob_score=False, random_state=14, verbose=0,
                       warm_start=False)

In [79]:
y_predict = model.predict(X_test)
print(accuracy_score(y_test,y_predict))
print(classification_report(y_test,y_predict))

0.8716997792494481
              precision    recall  f1-score   support

           2       0.57      0.63      0.60       222
           3       0.70      0.77      0.73      1556
           4       0.92      0.95      0.93      6582
           5       0.91      0.88      0.90      2536
          NA       0.19      0.02      0.03       429

    accuracy                           0.87     11325
   macro avg       0.66      0.65      0.64     11325
weighted avg       0.85      0.87      0.86     11325

In [23]:
from sklearn.model_selection import GridSearchCV

In [66]:
model = RandomForestClassifier()
parameters = { 'n_estimators':[50,70,90,100],
                'max_depth' :[32,40,50,90],
                'max_features' : [2,3,4]}
grid_model = GridSearchCV(estimator = model,param_grid = parameters)
grid_model.fit(X_train, y_train)

C:\Users\akhil_lvire0b\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:667: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

GridSearchCV(cv=None, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [32, 40, 50, 90],
                         'max_features': [2, 3, 4],
                         'n_estimators': [50, 70, 90, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [67]:
print(grid_model.best_score_)
grid_model.best_params_

0.876244022582588

{'max_depth': 40, 'max_features': 3, 'n_estimators': 90}

In [80]:

pd.DataFrame(confusion_matrix(y_test,y_predict))

     0     1     2     3   4
0  140    17    42    23   0
1   49  1198   224    65  20
2   46   119  6285   127   5
3    3    39   248  2242   4
4    7   338    67    10   7

SVM

In [81]:
from sklearn.svm import SVC

model = SVC()
#model = SVC(kernel='rbf',C=100,gamma=0.2)

In [82]:
model.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [83]:
y_predict = model.predict(X_test)

In [84]:
print(accuracy_score(y_test,y_predict))
print(classification_report(y_test,y_predict))

0.7213245033112583
              precision    recall  f1-score   support

           2       0.51      0.62      0.56       222
           3       0.51      0.45      0.48      1556
           4       0.75      0.92      0.83      6582
           5       0.80      0.50      0.62      2536
          NA       0.00      0.00      0.00       429

    accuracy                           0.72     11325
   macro avg       0.51      0.50      0.50     11325
weighted avg       0.69      0.72      0.69     11325

C:\Users\akhil_lvire0b\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

NEURAL NETWORK

In [85]:
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(hidden_layer_sizes=(1000,500,300,100,90,70,40), learning_rate_init=0.1, max_iter=100000, random_state = 10, activation = 'relu')

In [86]:
model.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(1000, 500, 300, 100, 90, 70, 40),
              learning_rate='constant', learning_rate_init=0.1, max_fun=15000,
              max_iter=100000, momentum=0.9, n_iter_no_change=10,
              nesterovs_momentum=True, power_t=0.5, random_state=10,
              shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
              verbose=False, warm_start=False)

In [87]:
y_predict = model.predict(X_test)

In [88]:
print(accuracy_score(y_test,y_predict))
print(classification_report(y_test,y_predict))

0.5811920529801324
              precision    recall  f1-score   support

           2       0.00      0.00      0.00       222
           3       0.00      0.00      0.00      1556
           4       0.58      1.00      0.74      6582
           5       0.00      0.00      0.00      2536
          NA       0.00      0.00      0.00       429

    accuracy                           0.58     11325
   macro avg       0.12      0.20      0.15     11325
weighted avg       0.34      0.58      0.43     11325

C:\Users\akhil_lvire0b\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

XGBoost

In [24]:
from xgboost import XGBClassifier
model = XGBClassifier (learning_rate=0.2, n_estimators=200,max_depth=6,min_child_weight=1,gamma = 0.2,colsample_bylevel=1,colsample_bytree=1,subsample =1,reg_alpha=1,reg_lambda=1,random_state=10)
model.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0.2,
              learning_rate=0.2, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=None, n_estimators=200, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=10,
              reg_alpha=1, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
model = XGBClassifier()
parameters = { 'learning_rat2':[0.01,0.1,0.2,0.05],
               'n_estimators':[100,200,300],
                'max_depth' :[5,6,9,13],
                'gamma' : [0.01,0.05,0.1,0.2,0.3]}
grid_model = GridSearchCV(estimator = model,param_grid = parameters)
grid_model.fit(X_train, y_train)

C:\Users\akhil_lvire0b\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:667: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

In [25]:
y_predict = model.predict(X_test)
print(accuracy_score(y_test,y_predict))
print(classification_report(y_test,y_predict))

0.870551876379691
              precision    recall  f1-score   support

           2       0.59      0.69      0.64       222
           3       0.71      0.77      0.74      1556
           4       0.91      0.96      0.93      6582
           5       0.92      0.86      0.89      2536
          NA       0.12      0.00      0.01       429

    accuracy                           0.87     11325
   macro avg       0.65      0.66      0.64     11325
weighted avg       0.85      0.87      0.86     11325

forecasting

In [108]:
data2 = data1.loc[:,['Incident_ID','Open_Time']]

In [109]:
import datetime as dt
len(data2.Open_Time)

37748

In [110]:

import warnings
warnings.filterwarnings('ignore')

In [111]:
incfrq = data.loc[:,['Incident_ID','Open_Time']]

In [112]:

incfrq.head()

  Incident_ID         Open_Time
0   IM0000004  05-02-2012 13:32
1   IM0000005  12-03-2012 15:44
2   IM0000006  29-03-2012 12:36
3   IM0000011  17-07-2012 11:49
4   IM0000012  10-08-2012 11:01

In [113]:
# Coverting all the values in proper Datetime format
for i in range(len(incfrq.Open_Time)):
    if (incfrq.Open_Time[i][1]=='/'):
        incfrq.Open_Time[i] = dt.datetime.strptime(incfrq.Open_Time[i],'%d/%m/%Y %H:%M').date()
    elif (incfrq.Open_Time[i][2]=='/'):
        incfrq.Open_Time[i] = dt.datetime.strptime(incfrq.Open_Time[i],'%d/%m/%Y %H:%M').date()
    else:
        incfrq.Open_Time[i] = dt.datetime.strptime(incfrq.Open_Time[i],'%d-%m-%Y %H:%M').date()

In [121]:
incfrq.head()

    Open_Time  No_Incidents  month
0  2012-02-05             1      2
1  2012-03-12             1      3
2  2012-03-29             1      3
3  2012-07-17             1      7
4  2012-08-10             2      8

In [115]:
incfrq['No_Incidents'] = incfrq.groupby('Open_Time')['Incident_ID'].transform('count')

In [116]:
incfrq.drop(['Incident_ID'],axis=1,inplace=True)
incfrq.drop_duplicates(inplace=True)

In [117]:
incfrq.columns

Index(['Open_Time', 'No_Incidents'], dtype='object')

In [91]:
incfrq = incfrq.set_index('Open_Time')
incfrq.index = pd.to_datetime(incfrq.index)
incfrq.index

DatetimeIndex(['2012-02-05', '2012-03-12', '2012-03-29', '2012-07-17',
               '2012-08-10', '2012-08-15', '2012-08-22', '2012-08-29',
               '2012-09-03', '2012-09-21',
               ...
               '2014-03-22', '2014-03-24', '2014-03-23', '2014-03-25',
               '2014-03-26', '2014-03-27', '2014-03-28', '2014-03-29',
               '2014-03-30', '2014-03-31'],
              dtype='datetime64[ns]', name='Open_Time', length=331, freq=None)

In [93]:
incfrq.head()
incfrq.isnull().sum()

No_Incidents    0
dtype: int64

In [94]:
print(incfrq.index.min(),'to',incfrq.index.max())

2012-02-05 00:00:00 to 2014-03-31 00:00:00

In [118]:

# Making a new Series with frequency as Day
data2 = incfrq['No_Incidents']
data2 = data1.asfreq('D')
#data2.index

In [119]:
incfrq.dropna(inplace = True)

In [99]:
label_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

plt.pie(incfrq['month'],incfrq['No_Incidents'],labels=label_names,autopct='%.2f',shadow=True)

KeyError: 'month'

In [28]:
incfrq = incfrq.shift(1)

In [120]:
incfrq['month'] = pd.DatetimeIndex(incfrq['Open_Time']).month

RFC

In [97]:
data1.isnull().sum()

CI_Name                           0
CI_Cat                            0
CI_Subcat                         0
WBS                               0
Incident_ID                       0
Status                            0
Impact                            0
Urgency                           0
Priority                          0
number_cnt                        0
Category                          0
KB_number                         0
Alert_Status                      0
No_of_Reassignments               0
Open_Time                         0
Resolved_Time                  1653
Close_Time                        0
Handle_Time_hrs                   0
Closure_Code                    460
No_of_Related_Interactions        0
Related_Interaction               0
No_of_Related_Incidents       36596
No_of_Related_Changes             0
Related_Change                37217
dtype: int64

In [89]:
data1.No_of_Related_Changes.replace(np.nan,1,inplace=True)

In [113]:
# Selecting the predictors
X1 = data1.loc[:,['CI_Cat','CI_Subcat','WBS','KB_number','Priority','Category','No_of_Related_Interactions','Impact','Urgency']]
y1 = data1.No_of_Related_Changes

In [114]:
y1=y1.astype('int')

In [115]:
from sklearn.preprocessing import LabelEncoder , StandardScaler
enc = LabelEncoder()
X1[['CI_Cat','CI_Subcat','WBS','Category','KB_number','No_of_Related_Interactions','Impact','Urgency','Priority']] = \
X1[['CI_Cat','CI_Subcat','WBS','Category','KB_number','No_of_Related_Interactions','Impact','Urgency','Priority']].apply(enc.fit_transform)

In [116]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1,y1,test_size=0.3,random_state=10)

In [117]:
sc = StandardScaler()
X1_train = sc.fit_transform(X1_train)
X1_test = sc.transform(X1_test)

random forest

In [118]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier()

In [119]:
model.fit(X1_train,y1_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [120]:
y_predict = model.predict(X1_test)
print(accuracy_score(y1_test,y_predict))
print(classification_report(y1_test,y_predict))

0.9994701986754967
              precision    recall  f1-score   support

           1       1.00      1.00      1.00     11320
           2       0.00      0.00      0.00         4
           3       0.00      0.00      0.00         1

    accuracy                           1.00     11325
   macro avg       0.33      0.33      0.33     11325
weighted avg       1.00      1.00      1.00     11325